---
layout: archive
title: "论文"
permalink: /publications/
author_profile: true
---

最近几年，专注于让任何人可以用的基于图像的三维重建技术攻关和开发，忽视了论文工作，没怎么重视。最近适当调整，全面发展，两手一起抓。

> [ 注1：在我们组，通常情况下学生为第一作者，老师往后排。]
> [ 注2：个人不认为论文是成果。作为一个工科研究人员，做出能用的东西才是牛。但学生需要发论文来毕业、找工作，欢迎学生多写论文。]


## Paper 2024:

1.Xinyi Liu, Qingwu Hu, Xianfeng Huang*. A Keyframe Extraction Approach for 3D Videogrammetry Based on Baseline Constraints. Photogrammetry Engineering & Remote Sensing. 2024. (SCI) 

2.Wenyuan Niu, Chengqiu Lu, Qiushi Zou...., Xianfeng Huang*, Yinghua Li*. Dynamically documenting archaeological excavations based on 3D modeling: a case study of the excavation of the #3 fossil of hominin cranium from Yunxian, Hubei, China. Heritage Science. 2024. (SCI, IF:2.9)

3.Min Chen, Jianguo Yan*, Xianfeng Huang*, Zheng Zuo, Konrad Willner, Hanyu Xiang and Jean-Pierre Barriot. Advancements in the 3D shape reconstruction of Phobos: An analysis of shape models and future exploration directions. Astronomy & Astrophysics. 2024. (SCI: IF: 5.4)


{% if site.author.googlescholar %}
  <div class="wordwrap">部分论文可以在 <a href="{{site.author.googlescholar}}">Google Scholar profile</a> 查看.</div>
{% endif %}

{% include base_path %}




<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



